<app-titulo [titulo]="'Evento'"></app-titulo>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input
    type="text"
    class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>

<!-- FILTRO LISTA -->
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button" class= "btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
        <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{mostrarImagem ? 'mostrar' : 'esconder'}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <th>
        <img [collapse]="mostrarImagem"
        [isAnimated]="true"
         src="/assets/{{evento.imagemUrl}}" alt=""
          [style.width.px]="larguraImagem"
          [style.margin.px]="margemImagem"
        >
      </th>
      <th>{{evento.id}}</th>
      <th>{{evento.tema}}</th>
      <th>{{evento.local}}</th>
      <th>{{evento.dataEvento | DateFormat}}</th>
      <th>{{evento.qtdPessoas}}</th>
      <th>{{evento.lotes[0].nome}}</th>
      <th>
        <button type="button" class="btn btn-primary btn-sm mr-2 " tooltip="Editar">
          <i class="fa fa-edit"></i>
          Editar
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Excluir</button>
      </th>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Você confirma?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
